#main-header {
    padding: 0 15px;
    background-color: #e0c8c9;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 10px;
}

.main-header-section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

#main-header-section1 {
    display: flex;
    align-items: center;
}

#main-header-section2 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: none;
}

#main-header-section2 input {
    width: 100%;
    border-radius: 7px;
    border: 1px solid rgb(228, 134, 220);
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

#main-header-section2 input::placeholder {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

#main-header-section3 {
    display: flex;
    flex-direction: row-reverse;
}

#main-header-section3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 0px;
    display: flex;
    column-gap: 15px;
}

#main-header-link-list li a {
    color:rgb(0, 0, 0);
    font-size: 1.7rem;
    cursor: pointer;
}

#logo-header1 {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
}

#logo-header2 {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "Sail", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    transform: rotate(270deg) translateY(-12px);
}

@media (min-width: 768px) and (max-width: 1199px) {
    #main-header {
        min-height: 90px;
    }

    #logo-header1 {
        font-size: 2.3em;
    }

    #logo-header2 {
        font-size: 2.3rem;
        transform: rotate(270deg) translateY(-17px);
    }

    #main-header-section2 {
        display: block;
        width: 350px;
    }

    #main-header-section2 input {
        height: 35px;
        box-shadow: rgba(228, 134, 220, 0.473) 5px 5px;
        padding-left: 15px;
        font-size: 20px;
    }

    #main-header-section2 input::placeholder {
        font-size: 20px;
    }

    #main-header-search-icon {
        display: none;
    }

    #main-header-link-list li a {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    #main-header {
        min-height: 100px;
    }
    
    #logo-header1 {
        font-size: 2.7em;
    }

    #logo-header2 {
        font-size: 2.7rem;
        transform: rotate(270deg) translateY(-17px);
    }

    #main-header-section2 {
        display: block;
        width: 400px;
    }

    #main-header-section2 input {
        height: 35px;
        box-shadow: rgba(228, 134, 220, 0.473) 5px 5px;
    }

    #main-header-search-icon {
        display: none;
    }

    #main-header-link-list li a {
        font-size: 2.3rem;
    }

    #main-header-section2 input {
        height: 50px;
        width: 600px;
        box-shadow: rgba(228, 134, 220, 0.473) 5px 5px;
        padding-left: 20px;
        font-size: 25px;
    }

    #main-header-section2 input::placeholder {
        font-size: 25px;
    }
}