body {
    margin: 0;
    background-color: #f7e9e9;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

main {
    min-height: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
}

footer {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

h1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 10px;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
    
}

.img img:hover {
    transform: scale(1.05);
}
