body {
  margin: 0;
  background-color: #f7e9e9;
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

main {
  min-height: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

#sign-up-user-form {
  background-color: rgb(248, 212, 231);
  display: flex;
  width: auto;
  justify-content: center;
  padding: 110px 300px;
  border: 1px solid black;
  border-radius: 14px;
}

.user-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-name-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-user-name {
  width: 350px;
}

#email-form-label {
  margin-bottom: auto;
  margin-top: 20px;
}

#password-form-label {
  display: flex;
  margin-top: 20px;
}

#email-help {
  margin-bottom: 20px;
}

#input-email {
  width: 350px;
}

.sign-up-password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-password {
  width: 350px;
}

.form-year-selection-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 13px;
}

.form-year-selection-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

#sign-up-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gender-pick {
  display: flex;
  align-items: center;
}

#sign-up-button {
  width: 50%;
  margin-top: 20px;
  background-color: rgb(246, 110, 233);
  border: 1px solid black;
}